@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
}

@layer components {
  .bidgrid {
    @apply grid-flow-row-dense;
  }

  .bidgrid > :nth-child(5n+1) {
    @apply col-[5];
  }

  .bidgrid > :nth-child(5n+2) {
    @apply col-[4];
  }

  .bidgrid > :nth-child(5n+3) {
    @apply col-[3];
  }

  .bidgrid > :nth-child(5n+4) {
    @apply col-[2];
  }

  .bidgrid > :nth-child(5n+5) {
    @apply col-[1];
  }
}

.popup-overlay:not([data-popup="tooltip"]) {
  @apply bg-neutral-400/25;
}
